
__pycache__/main.cpython-38.pyc
__pycache__/tests.cpython-38-pytest-6.2.3.pyc
__pycache__/tests.cpython-38.pyc
tests.py
2_A_jak_art/.ipynb_checkpoints/2_A_jak_Art-checkpoint.ipynb
2_A_jak_art/.ipynb_checkpoints/PracaDomowa-checkpoint.ipynb
2_A_jak_art/.ipynb_checkpoints/Untitled-checkpoint.ipynb
northwind.db
northwind.db
*.db
